---
import Layout from "../layouts/Layout.astro";
import LadingHeader from "../components/LadingHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import Car1 from "../components/Car1.astro";
import Car2 from "../components/Car2.astro";
import Car3 from "../components/Car3.astro";
---

<Layout title="Welcome to Astro.">
  <LadingHeader />
  <main class="snap-mandatory snap-y h-screen overflow-auto">
    <div class="snap-center">
      <HeroSection />
    </div>
    
    <div class="snap-center">
      <Car1 />
    </div>

    <div class="snap-center">
      <Car2  />
    </div>

    <div class="snap-center">
      <Car3 />
    </div>
  </main>
</Layout>

